@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartbeat2 {
  0% {
    /* opacity: 0.8; */
    transform: scale(1);
  }
  30% {
    /* opacity: 0.6; */
    transform: scale(1.2);
  }
  60% {
    /* opacity: 0.6; */
    transform: scale(1);
  }
  100% {
    /* opacity: 0.8; */
    transform: scale(1);
  }
}
